config.php

# The virtual enviroments
venv/
.venv/
env/
.env

# creating synthetic data for supabase
synthetic_face_encodings.py

__pycache__/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# test files
test_attendance_time.py
managerTest.py
